{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="masthead" class="site-header" data-anchor-target=".hero" data-top="background: rgba(59,58,54,0); border-bottom-color: rgba(226,226,226,0);" data-top-bottom="background: rgba(59,58,54,1); border-bottom-color: rgba(226,226,226,1);">
    

<nav id="primary-navigation" class="site-navigation">

    <div class="container-fluid">

        <div class="navbar-header">
            
            <a href="{% url 'index' %}" class="site-title yellow-text">Business Perfect</a>

        </div><!-- /.navbar-header -->

        <div class="main-menu" id="perfect-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'index' %}">Home</a></li>
                <li>
                    <a href="{% url 'blog' %}">Blog </a>
                </li>
                <li>
                    <a href="{% url 'portfolio' %}">Portfolio</a>                                
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li> 
            </ul><!-- /.navbar-nav -->
        </div><!-- /.navbar-collapse -->
        
    </div>
              
</nav><!-- /.site-navigation -->

</div>


{% endblock  %}